<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Core" version="0.28.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.0" targetFramework="net471" />
  <package id="FluentAssertions" version="5.3.2" targetFramework="net471" />
  <package id="HttpMock" version="2.3.0" targetFramework="net471" />
  <package id="Kayak" version="0.7.2" targetFramework="net46" />
  <package id="Moq" version="4.8.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="Octokit" version="0.29.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>